[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
pre-commit = "*"
boto3 = "*"

[packages]
yelp-common = "*"
jsonpickle = "*"

[requires]
python_version = "3.8"
